.FaceRecognition{
    position: relative;;
    text-align: center;
    margin-top: 0.5vh;
}

.bounding-box{
    position: absolute;
    box-shadow: 0 0 0 3px #254aee inset;
}

.FaceRecognition>img{
    position: relative;
    height: auto;
    width: 800px;
}

@media only screen and (max-width: 800px) {
    .FaceRecognition>img{
        height: auto;
        width: 500px;
    }
  }